<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IBM Code Metrics Platform</title>
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>IBM Code Metrics Platform</h1>
        <p>Deployment and usage metrics for applications and workloads on CloudFoundry, Kubernetes, OpenWhisk etc.</p>
            <article>         
              <ol class="breadcrumb">
                  <li><a href="/stats">Stats</a></li>
                  <li class="active">Companies (Usage based on Specific Company)</li>
                </ol>
            </article>
          </div>
    </div>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;Company's Service and Runtime Usage</h2>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <figure class="guide-example theme_light bg_light-tint">
             <p class="type_mark" style="font-size: 25px; color: gray; font-weight: bold;"><a href="/company/Johnson&Johnson">
              Johnson & Johnson
            </a></p>
      </figure>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <figure class="guide-example theme_light bg_light-tint">
             <p class="type_mark" style="font-size: 25px; color: gray; font-weight: bold;"><a href="/company/JPMorganChase&Co.">
              JPMorgan Chase & Co.
            </a></p>
      </figure>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6">
      <figure class="guide-example theme_light bg_light-tint">
             <p class="type_mark" style="font-size: 25px; color: gray; font-weight: bold;"><a href="/company/AT&T">
              AT&T
            </a></p>
      </figure>
    </div>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
