<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metrics Collector</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/simpledatavis.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-barchart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-bubblechart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-piechart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-rangebarchart.js"></script>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    function htmlDecode(input){
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }

     var data = JSON.parse(htmlDecode("{{data}}"));
     window.addEventListener('DOMContentLoaded', function () {
       SimpleDataVis(data)
         .attr('type', 'bar-chart')
         .attr('tooltip', function (d) {
           return d.key + ': ' + d.value + "%"
         })
         .render('#datavischart')
     })
  </script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Metrics Collector</h1>
        <img src="/images/metrics-service-logo.png" width="100%" height="100%">
        <p>Deployments of sample applications to CloudFoundry, Kubernetes, Serverless etc.</p>
<!--         <p><a class="btn btn-primary btn-lg" href="https://github.com/IBM-Bluemix/cf-deployment-tracker-service" role="button">View the source code on GitHub <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p> -->
      </div>
    </div>
    <figure class="guide-example theme_light bg_light-tint">
        <p class="type_copy type_mark" style="font-size: 30px">
          Top 5 Repositories</p>
        <div id="datavischart"></div>
    </figure>
    <article class="container">
      <p>
        <a class="btn btn-primary btn-lg" href="/stats" role="button">Click here to see the stats <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a>
      </p>
    </article>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
