<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metrics Collector</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/simpledatavis.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-barchart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-bubblechart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-piechart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-rangebarchart.js"></script>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">

    function htmlDecode(input){
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }

     var data = JSON.parse(htmlDecode("{{data}}"));
     var services = JSON.parse(htmlDecode("{{services}}"));
     var runtimes = JSON.parse(htmlDecode("{{runtimes}}"));
     var languages = JSON.parse(htmlDecode("{{languages}}"));
     window.addEventListener('DOMContentLoaded', function () {
       //Number of deployment
       SimpleDataVis(data)
         .attr('type', 'bar-chart')
         .attr('tooltip', function (d) {
           return d.key + ': ' + d.value + "%"
         })
         .render('#datavischart')
       //services
       SimpleDataVis(services)
         .attr('type', 'pie-chart')
         .attr('donut', true)
         .attr('tooltip', function (d) {
           return d.key + ': ' + d.value 
         })
         .render('#datavisservice')
      //runtimes 
      SimpleDataVis(runtimes)
         .attr('type', 'pie-chart')
         .attr('donut', true)
         .attr('tooltip', function (d) {
           return d.key + ': ' + d.value 
         })
         .render('#datavisruntime')
      //Programming Languages
      SimpleDataVis(languages)
         .attr('type', 'pie-chart')
         .attr('donut', true)
         .attr('tooltip', function (d) {
           return d.key + ': ' + d.value 
         })
         .render('#datavislanguage')
     })
  </script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Metrics Collector</h1>
        <p>Deployment and usage metrics for applications and workloads on CloudFoundry, Kubernetes, OpenWhisk etc.</p>
<!--         <p><a class="btn btn-primary btn-lg" href="https://github.com/IBM-Bluemix/cf-deployment-tracker-service" target="_blank" role="button">View the source code on GitHub <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p> -->
      </div>
    </div>
  <div>
    <figure class="guide-example theme_light bg_light-tint">
        <p class="type_copy type_mark" style="font-size: 30px">
          Top 5 Repositories</p>
        <div id="datavischart"></div>
    </figure>
  </div>
  <div class="col-xs-6 col-md-6 col-lg-6">
  <figure class="guide-example theme_light bg_light-tint">
        <p class="type_copy type_mark" style="font-size: 30px">
          Service Usage</p>
          <div id="datavisservice"></div>
  </figure>
 </div>
 <div class="col-xs-6 col-md-6 col-lg-6">
  <figure class="guide-example theme_light bg_light-tint">
        <p class="type_copy type_mark" style="font-size: 30px">
          Runtimes</p>
          <div id="datavisruntime"></div>
  </figure>
 </div>
  <div class="col-xs-6 col-md-6 col-lg-6">
  <figure class="guide-example theme_light bg_light-tint">
        <p class="type_copy type_mark" style="font-size: 30px">
          Programming Languages</p>
          <div id="datavislanguage"></div>
  </figure>
 </div>
 <div class="col-xs-12 col-md-12 col-lg-12">
  <article class="container">
      <p style="text-align:center;">
        <a class="btn btn-primary btn-lg" href="/graphs" role="button">Click here to see the usage graphs <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></a>
      </p>
    </article>
  </div>
 <p class="container"></p>
    <article class="container">
      <ol class="breadcrumb">
        <li class="active">Stats</li>
      </ol>
      <h2>Application Deployments by Repository</h2>
      <!-- <p><a class="btn btn-default" href="/stats.csv" role="button">Download as CSV <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></p> -->
      {{#each apps}}
      <section>
        <h2>
          {{#if url}}
            {{#if is_url}}
              <a href="{{url}}" target="_blank">{{url}}</a>
              {{else}}{{url}}
            {{/if}}
          {{else}}
            <em>No repository URL</em>
          {{/if}}

          {{#if url_hash}}
            <a href="/stats/{{url_hash}}">
              <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            </a>
          {{/if}}
          <span class="badge">{{count}}</span>
        </h2>
        {{#if githubStats}}
        <div class="form-control" readonly="readonly">
          <span>Github Stats:</span>
          <a href="#">Clones <span class="badge">{{githubStats.Clones}}</span></a> |
          <a href="#">Visits <span class="badge">{{githubStats.Visits}}</span></a> |
          {{#if url_hash}}
            <a href="/stats/{{url_hash}}">
              More info...
              <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            </a>
          {{/if}}
        </div>
        {{/if}}
        {{#if url_hash}}<input type="text" class="form-control" readonly="readonly" value="{{url_hash}}">{{/if}}
        <ul class="list-group">
          {{#each deploys}}
          {{#each this}}
          <li class="list-group-item">
            <span class="badge">{{this}}</span>
            {{@../key}}-{{@key}}
          </li>
          {{/each}}
          {{/each}}
        </ul>
      </section>
    {{/each}}
    </article>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
