<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metrics Collector</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/demo.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/simpledatavis.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-barchart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-piechart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-timeline.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-stackedbarchart.js"></script>
    <script type="text/javascript" src="/js/vis/simpledatavis-groupedbarchart.js"></script>
    <style>
      .copy {
        cursor: pointer;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/assets/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Metrics Collector</h1>
        <p>Deployment and usage metrics for applications and workloads on CloudFoundry, Kubernetes, OpenWhisk etc.</p>
    <article>         
      <ol class="breadcrumb">
          <li><a href="/stats">Stats</a></li>
          <li><a href="/graphs">Graphs</a></li>
          <li class="active">Users (User Statistics)</li>
        </ol>
    </article>
      </div>
    </div>
<!--      <div class="col-xs-7 col-md-7 col-lg-7">
      <figure class="guide-example theme_light bg_light-tint">
            <p class="type_mark" style="font-size: 30px">
              Estimated Pattern User revenue (in USD)</p>
              <div id="dataviscost"></div>
      </figure>
     </div>
    </div> -->
      <div class="col-xs-5 col-md-5 col-lg-5">
      <figure class="guide-example theme_light bg_light-tint">
            <p class="type_mark" style="font-size: 30px">
              Estimated Unique Pattern Users</p>
              <div id="datavisuser"></div>
      </figure>
     </div>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/zeroclipboard/dist/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var client = new ZeroClipboard($(".copy span"));
        client.on('aftercopy', function (event) {
          $(event.target.parentNode).attr("title", "Copied!").tooltip("fixTitle").tooltip("show");
        });
        $("[data-toggle='tooltip']").tooltip();
      });

    function htmlDecode(input){
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    //graphs
     var users = JSON.parse(htmlDecode("{{users}}"));
     var revenue = JSON.parse(htmlDecode("{{revenue}}"));
     window.addEventListener('DOMContentLoaded', function () {
       //Number of users
       SimpleDataVis(users)
         .attr('type', 'grouped-bar-chart')
         .attr('tooltip', function (d) {
         return d.key + ': ' + d.value 
          })
         .render('#datavisuser')
       // SimpleDataVis(revenue)
       //   .attr('type', 'stacked-bar-chart')
       //   .render('#dataviscost')
     })
    </script>
  </body>
</html>
